body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .res {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }
}
.bg {
  background-image: url("./assets/home/tablet/image-header.jpg");
  background-position: center;
  background-size: 100%;
}
.bgn {
  background-image: url("./assets/home/desktop/image-speaker-zx7.jpg");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
