body {
	font-family: "Manrope", sans-serif, Courier, monospace;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
	.res {
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}
}
.bg {
	background-image: url("./assets/home/tablet/image-header.jpg");
	background-position: center;
	background-size: 100%;
}
.bgn {
	background-image: url("./assets/home/desktop/image-speaker-zx7.jpg");
	background-position: right;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 8px;
}
.contain {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"two one ."
		"tre one ."
		". . .";
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.tre {
	grid-area: tre;
}
